<nav class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <div class='navbar-header'>
      <%= link_to 'Split City', '/', class: 'navbar-brand' %>
    </div>
  </div>
</nav>

<main class='container'>
  <div id="map"></div>
  <canvas id='display'></canvas>
</main>

<% content_for :scripts do %>
  <%= javascript_include_tag "http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" %>
  <%= javascript_include_tag "map" %>
<% end %>
