<nav class='navbar navbar-fixed-top navbar-inverse' id='navbar'>
  <div class='container'>
    <div class='navbar-header'>
      <%= link_to 'Split City', '/', class: 'navbar-brand' %>
    </div>

    <div class='navbar-text navbar-right loading'>
      Loading <span></span>...
    </div>

    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
            Regions
            <b class='caret'></b>
          </a>
          <ul class='dropdown-menu'>
            <li><a href='#map'>Map</a></li>
            <li><a href='#clust-stats'>Statistics</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script type='text/template' id='categories-chart-template'>
  <div class='col-md-4'>
    <p>
      <div class='categories-chart'></div>
    </p>
  </div>
</script>

<div id='clust-stats-layout' class='layout'>
  <div class='container'>
    <h1>Regions statistics</h1>

    <div class='row'>
    </div>
  </div>

</div>

<div id='map-layout' class='layout'>
  <div id="map"></div>

  <div class='container'>
    <div class='row'>

      <div class='col-md-4'>
        <h3>Clustering parameters</h3>
        <p>
          These parameters are related to clustering algorithm.
          You can specify the way regions are determined.
        </p>
        <p>
          <label class='col-md-5 control-label'># of clusters</label>
          <input type="text"
                 class="clusters-count span2 slider-input"
                 value=""
                 data-slider-min="1"
                 data-slider-max="6"
                 data-slider-step="1"
                 data-slider-value="2"
                 data-slider-orientation="horizontal"
                 data-slider-tooltip="show" />
        </p>

        <p>
          <label class='col-md-5 control-label'><i>M</i> parameter</label>
          <input type="text"
                 class="m-parameter span2 slider-input"
                 value=""
                 data-slider-min="2"
                 data-slider-max="32"
                 data-slider-step="5"
                 data-slider-value="2"
                 data-slider-orientation="horizontal"
                 data-slider-tooltip="show" />
        </p>
        <p>
          <a class='btn btn-default do-redraw' href='#' role='button'>Make new clusters</a>
        </p>
      </div>

      <div class='col-md-4'>
        <h3>View options</h3>
        <p>
          <div class='checkbox'>
            <label>
              <input type='checkbox' class='do-show-regions' checked='checked' /> Regions
            </label>
          </div>
          <div class='checkbox'>
            <label>
              <input type='checkbox' class='do-show-venues' /> Venues
            </label>
          </div>
        </p>
      </div>

      <div class='col-md-4'>
        <h3>Data sources</h3>
        <p>
          Choose one of existing sources.
        </p>
        <p>
          <div class='list-group sources-container'>
          </div>
        </p>
      </div>

    </div>
  </div>
</div>

<!-- Hidden canvas for GL context -->
<canvas id='display'></canvas>

<!-- Gl error modal -->
<div class="modal fade" id="glErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Unsupported browser!</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

<% content_for :headers do %>
  <script type='text/javascript'>
    window.SPLIT_CITY = {
      venue_sources: [
         { name: 'Foursquare', route: 'zoning/index' },
         { name: 'Random', route: 'zoning/random/1000' },
      ],
      workers: {
        cluster_worker: <%= raw javascript_path("workers/cluster_worker.js").to_json %>
      }
    }
  </script>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" %>
<% end %>
