//= require bootstrap

body {
  padding-top: 50px;
}

.layout {
  display: none;
}

#map {
  width: 100%;
  height: 500px;
}

#display {
  display: none;
}

#map-layout {
  .slider-input {
    width: 150px;
  }

  .slider-selection {
    background: #1155FF;
  }

  .slider .tooltip.top {
    top: -30px !important;
  }

  .slider-handle {
    opacity: 1;
    background: #FFF;
    border: 1px solid #AAA;
    -webkit-box-shadow: 0px 0px 5px #555;
  }

  .slider-track {
    border: 1px solid #1155FF;
  }
}

.right {
  text-align: right;
}

.color-icon {
  width: 1.3em;
  height: 1.3em;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
}

.cluster-info {
  td {
    width: 50%;
  }
}

.venues-stats {
  .title { width: 15%; }
  .cats { width: 15%; }
  .lat { width: 10%; }
  .lng { width: 10%; }

  .num { color: #115599; }
}

.copyright {
  margin: 30px auto;
  font-size: 0.8em;
  color: #444;
}
